{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            .sidebar {
                height: 100vh;
                overflow-y: auto; /* Add scrollbar if content exceeds height */
            }
            .sidebar span:hover {
                background-color: transparent;
                color: inherit;
            }
            .sidebar.fliph + .col-lg-10 {
                width: 100%;
            }

            @media (max-width: 768px) {
                .container-fluid {
                    padding: 0;
                }
                .col-2 {
                    width: 100%;
                    padding: 0;
                }
                .col {
                    width: 100%;
                    padding: 0;
                }
                .bg-lightsky {
                    background-color: skyblue;
                }
                
            }

        </style>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text"> 

        <a class="navbar-brand d-flex align-items-center" href="{% url "student:Sindex" %}">
            <img src="{% static "./defaultimg/logo1.png" %}" alt="Logo" class="me2" style="height: 50px;">
            <span>RECAzamgarh</span>
        </a>
        
        <button class="navbar-toggler px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
            <span class="navbar-toggler-icon"></span>
        </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static "./defaultimg/logo1.png" %}" alt="Logo" class="me-2" style="height: 30px;">
                       {{request.session.name}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">My-PhotoGraph</a>
                        <a class="dropdown-item" href="{% url "main:changePass" %}">Change-Password</a>
                        <a class="dropdown-item" href="{% url "main:logout" %}">Sign-Out</a>
                    </div>
                </ul>
            </div>                                    
        </div>
    </nav>
    <div id="wrapper" class="toggled ">
        <div id="sidebar-wrapper" class="bg-light">
            <ul class="sidebar-nav">
                <aside >
                    <div  class="sidebar bg-light ">
                      
                        <ul class="list-sidebar">
                            <li> <a href="{% url "student:profile" %}" class="text-dark"><i class="fa fa-user text-dark"></i> <span class="nav-label text-dark">My Profile</span></a> </li>
                            <li> <a href="{% url "student:attendance" %}" class="text-dark"><i class="fa fa-check-circle text-dark"></i> <span class="nav-label text-dark">Class Attendance</span></a> </li>
                            <li> <a href="{% url "student:timeTable" %}" class="text-dark"><i class="fa fa-book text-dark"></i> <span class="nav-label text-dark">View Time-Table</span></a> </li>
                            <li> <a href="{% url "student:marks" %}" class="text-dark"><i class="fa fa-edit text-dark"></i> <span class="nav-label text-dark">Sessional Marks</span></a> </li>
                            <li> <a href="{% url "student:message" %}" class="text-dark"><i class="fa fa-envelope text-dark"></i> <span class="nav-label text-dark">Messages</span></a> </li>
                            <li> <a href="https://drive.google.com/drive/folders/1eTxp4mDjGcuDexieUMYrfqAuKBG3S46n" class="text-dark"><i class="fa fa-question-circle text-dark"></i> <span class="nav-label text-dark">Question Paper</span></a> </li>
                            <li> <a href="{% url "student:notice" %}" class="text-dark"><i class="fa fa-bell text-dark"></i> <span class="nav-label text-dark">Notices</span></a> </li>
                        </ul> 
                    
                  </div> 
                </aside>
            </ul>
        </div> 
        <div class="container-fluid bg-lightsky" id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}
                {% endblock  %}
            </div>
        </div> 
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script> 
    <script>
      $(function(){
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function(e) {
          if($(window).width()<=768){
            $("#wrapper").removeClass("toggled");
          }else{
            $("#wrapper").addClass("toggled");
          }
        });
      });
       
    </script>
</body>
</html>