{% extends "./base.html" %}

{% block content %}
<div class="container mt-5">
    <nav class="d-flex">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'feeMan:Aindex' %}">Home</a></li>
                <li class="breadcrumb-item active">Search Student</li>
            </ol>
        </div>
    </nav>


    <div class="container mt-5">
        <h1>Your Fees Record</h1>
        <div class="row">
            {% for fee in fees %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ fee.student }}</h5>
                        <p class="card-text">Roll_no: {{ fee.student.roll_no }}</p>
                        <p class="card-text">Status: {{ fee.status }}</p>
                        <p class="card-text">Due: {{ fee.dues }}</p>
                        <p class="card-text">Date: {{ fee.date }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
