{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">

    <nav class="d-flex">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "student:Sindex" %}">Home</a></li>
                <li class="breadcrumb-item active">Books</li>
            </ol>
        </div>
    </nav>
    <h1>Your Book</h1>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Author: {{ book.author }}</p>
                    <p class="card-text">Book ID: {{ book.bookId }}</p>
                    <p class="card-text">Publisher: {{ book.publisher }}</p>
                    <p class="card-text">Issued date: {{ book.isseued_date }}</p>

                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <p>No books found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}