asgiref
beautifulsoup4
Django
django-bootstrap-v5
et-xmlfile
gunicorn
mysql-connector-python
numpy
openpyxl
packaging
pandas
psycopg2-binary
python-dateutil
pytz
six
soupsieve
sqlparse
typing_extensions
tzdata
whitenoise
