{% extends "./base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <nav class="d-flex">
            <div class="col-md-12 ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "faculty:Findex" %}">Home</a></li>
                    <li class="breadcrumb-item active">Notice</li>
                </ol>
            </div>
        </nav>
        <div class="card-header">
            <h1 class="mb-0">Create Notice</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter notice title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Enter notice description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create Notice</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
