{% extends './base.html' %}
{% load static %}
{% block content %}
<nav class="d-flex">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'feeMan:Aindex' %}">Home</a></li>
            <li class="breadcrumb-item active">Fees</li>
        </ol>
    </div>
</nav>

<form method="get" class="mx-4">
    <div class="row">
        <div class="col-md-4">
            <label for="semester">Filter by Semester:</label>
            <select class="form-select" id="semester" name="semester">
                <option value="0">All Semesters</option>
                {% for semester in semesters %}
                    <option value="{{ semester.id }}">{{ semester.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="department">Filter by Department:</label>
            <select class="form-select" id="department" name="department">
                <option value="0">All Departments</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label><br>
            <button type="submit" class="btn btn-primary">Apply Filters</button>
        </div>
    </div>
</form>

<div class="col-sm-12">
    {% if Role == 'Librarian' %}
    <a class="btn btn-success btn-lg" href="{% url "feeMan:addFee" 0 %}">Add Fee</a>
    {% endif %}
    <h4 class="text-center alert alert-info mt-3">Fees</h4>
    {% if fees %}
    <div class="table-responsive">
        <table class="table table-bordered bg-light m-1">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col" style="width: 10%;">Student Roll-no</th>
                    <th scope="col" style="width: 20%;">Student Name</th>
                    <th scope="col" style="width: 15%;">Transaction ID</th>
                    <th scope="col" style="width: 10%;">Payable</th>
                    <th scope="col" style="width: 10%;">Amount</th>
                    <th scope="col" style="width: 10%;">Dues</th>
                    <th scope="col" style="width: 10%;">Date</th>
                    <th scope="col" style="width: 10%;">Status</th>
                    <th scope="col" style="width: 15%;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees %}
                <tr class="text-center">
                    <td>{{ fee.student.roll_no }}</td>
                    <td>{{ fee.student.name }}</td>
                    <td>{{ fee.transaction_id }}</td>
                    <td>{{ fee.payable.name }}</td>
                    <td>{{ fee.amount }}</td>
                    <td>{{ fee.dues }}</td>
                    <td>{{ fee.date }}</td>
                    <td>{{ fee.status }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="{% url "feeMan:addFee" fee.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
